body {
  font-family: Montserrat, sans-serif;
}

h3 {
  text-decoration-line: underline;
  font-size: 24px;
  font-style: normal;
}

.fit-cover {
  border-radius: 19px 19px 0px 0px;
}

.article-title-link {
  color: #111111;
  font-weight: bold;
  margin-top: 20px;
}

